/*css file for the student feedback html file*/

/*body with a background color and google font */
body {
    background-color: beige;
    font-family: "Poppins", sans-serif;

}

/*instructions header will have a different google font */
.header {
    font-family: "Libre Baskerville", serif;
}